*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* About body design */
.about-body{
    background: #0fb021 !important;
}
.about-body .left-section, .gallery{
    padding: 3rem 2.5rem;
}
.about-body .left-section h1{
    padding-right: 10rem;
}
#about-body .lower-content{
    padding: 3rem;
    margin-bottom: 3rem;
}
#about-body .lower-content h5{
    line-height: 40px;
}
/* About body design */
/* about description design */
.about-description{
    margin: 3rem 0;
}
.about-description .row{
    display: flex !important;
    flex-direction: row-reverse !important;
}
.about-description .row .right-column{
    padding: 0 4rem;
}
.about-description .row .right-column .title{
    color: #0fb021;
}
.about-description .row .right-column .description{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 35px;
}
.about-description .row .right-column .lists li{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 35px;
}

/* about description design */
/* Services design */
.about-services .description{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 30px;
}
.about-services p.about-service-description{
    font-size: 1.1rem;
}
/* Services design */
/* Gallery design */
.gallery .tab-content{
    margin-top: 2rem;
}
.nav-tabs{
    border-bottom: none !important;
}
.nav-tabs .nav-item.row{
    width: 100% !important;
    margin: auto;
}
.nav-tabs li.nav-item a{
    color: #097baf;
    border: 1px solid #000;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 0 !important;
    box-shadow:  3px 7px #ccc;
}
.nav-tabs li.nav-item a.active, .nav-tabs li.nav-item a:hover {
    background: #097baf;
    color: #fbfbfb;
    border: 1px solid #000;
    box-shadow: rgba(0, 0, 0, 0.7) 3px 7px;
}
.nav-tabs .col-lg-3{
    flex: 0 0 24% !important;
    max-width: 24% !important;
}
/* Gallery design */
/* Responsive design */
@media (max-width:1200px) {
    .about-services .row .description-col{
        padding: 0 !important;
    }
    .about-description img.my-4
    {
        margin-bottom: 3rem !important;
        padding: 0 3rem !important;
    }
    #about-body .lower-content{
        margin-bottom: 0 !important;
    }
    .about-description{
        margin: 0 !important;
    }
    .about-services .multi-col{
        margin-top: 1rem;
    }
}

@media (max-width:1096px) {
    .nav-tabs .col-md-6 {
        flex: 0 0 48% !important;
        max-width: 48% !important;
    }
}
@media (max-width:600px) {
    .about-body .left-section{
        padding: 0 1.2rem !important;
    }
    #about-body .lower-content, .about-services> .row, .gallery{
        padding: 2rem 1.2rem 0 1.2rem !important;
    }
    .about-body .left-section h1{
        padding-right: 0;
    }
    #about-body .lower-content h5{
        line-height: 35px;
        font-weight: 400;
    }
    .about-description img.my-4
    {
        padding: 0 2rem !important;
    }
    .about-description .right-column{
        padding: 0 2rem !important;
    }
    .about-services .multi-col .row .cols{
        text-align: left !important;
    }
    .nav-tabs .col-sm-6{
        flex: 0 0 45% !important;
        max-width: 45% !important;
    }

}
@media (max-width:400px) {
    .services .multi-col .row .cols p{
       margin-bottom: 0;
    }

}
/* Responsive design */
