/* M E S S A G E S */
html,body{
    background: #fff !important;
}
#messageArea {
    overflow-y: scroll;
}
#botmanWidgetRoot>div{
    min-width: 100px !important;
}
#messageArea iframe{
    background: none !important;
}
.desktop-closed-message-avatar{
    background: #007bff !important;
}
div.mobile-closed-message-avatar{
    background: #007bff !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
div.mobile-closed-message-avatar svg{
    width: 2rem !important;
    height: 2rem !important;
}
.chat {
    list-style: none;
    background: none;
    padding: 0;
    margin: 0;
}

.chat li {
    padding: 8px;
    padding: 0.5rem;
    font-size: 1.0rem;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    color: #000000;
}

.visitor {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end;
}

.visitor .msg {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    border-top-right-radius: 2px;
}

.chatbot .msg {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    border-top-left-radius: 2px;
}

.msg {
    word-wrap: break-word;
    min-width: 50px;
    max-width: 80%;
    padding: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #dae1e7;
}

.msg p {
    margin: 0 0 0.2rem 0;
}

.msg .time {
    font-size: 0.7rem;
    color: #7d7b7b;
    margin-top: 3px;
    float: right;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* I N P U T */

.textarea {
    position: fixed;
    bottom: 0px;
    left: 0;
    right: 0;
    width: 95%;
    height: 55px;
    z-index: 99;
    background-color: #fff;
    border: none;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    color: #000000;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
    background: rgba(250,250,250,0.8);
}

.textarea:focus {
    background: white;
    box-shadow: 0 -6px 12px 0px rgba(235,235,235,0.95);
    transition: 0.4s;
}

a.banner {
    position: fixed;
    bottom: 5px;
    right: 10px;
    height: 12px;
    z-index: 99;
    outline: none;
    color: #777;
    font-size: 10px;
    text-align: right;
    font-weight: 200;
    text-decoration: none
}

/* Loading Dot Animation */
div.loading-dots {
    position: relative;
}

div.loading-dots .dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 2px;
    border-radius: 50%;
    background: #196eb4;
    animation: blink 1.4s ease-out infinite;
    animation-fill-mode: both;
}

div.loading-dots .dot:nth-child(2) {
    animation-delay: -1.1s;
}

div.loading-dots .dot:nth-child(3) {
    animation-delay: -0.9s;
}

div.loading-dots .dot-grey {
    background: rgb(120, 120, 120);
}

div.loading-dots .dot-sm {
    width: 6px;
    height: 6px;
    margin-right: 2px;
}

div.loading-dots .dot-md{
    width: 12px;
    height: 12px;
    margin-right: 2px;
}

div.loading-dots .dot-lg {
    width: 16px;
    height: 16px;
    margin-right: 3px;
}

@keyframes blink {
    0%, 100% {
        opacity: 0.2;
    }

    20% {
        opacity: 1.0;
    }
}


.btn {
    display: block;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    min-width: 100px;
    background-color: #408591;
    cursor: pointer;
    color: white;
    text-align: center;
}
