*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.career .row .card{
    width:25rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.career .row .card .apply{
    text-decoration: none;
    color: #000;
    cursor: pointer;
    display: inline-block;
    background-image: linear-gradient(#000, #4b4b4b);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    transition: background-size 0.3s;
    font-size: 1.2rem;
}
.career .row .card .apply {
    background-position: 0 calc(100% -  0px)
}

.career .row .card .apply:hover {
    background-size: 0% 1px;
}
.career .card{
    transition: .4s ease-in-out;
}
.career .card:hover{
    scale: 1.05;
}
/* Career details page */
.body-content.career{
    padding: 2rem 0 0 0 ;
}
.career .title h1::after{
    content: '';
    display: block;
    background: #000;
    width: 95%;
    margin: 2rem 0;
    height: 0.05rem;
}
.career-description .description p{
    font-size: 1.2rem;
}
.career .courses-overview h5{
    font-size: 1.5rem;
}
.career .courses-overview p, .career .courses-overview li{
    font-size: 1.2rem;
}
.career .courses-overview p span.normal-font{
    font-weight: 550;
}
.career .form-container .apply-btn{
    background: #000
}
/* Career details page */


/* Responsive design */


@media (max-width:900px){
    .form-container.w-50{
        width: 80% !important;
    }
}
@media (max-width:767px){
    .career-description .description.pl-5{
        padding-left: 1.2rem !important;
    }
}
@media (max-width:600px)
{
    .career .title h1::after{
        width: 100%;
    }
    .site-map-description .description h2{
        font-size: 1.5rem;
    }
    .body-content.career .title.pl-5{
        padding: 0 1.2rem !important;
    }
    .body-content.career .career-description.px-5{
        padding: 0 1.3rem !important;
    }
    .body-content.career .career-description p.mt-5{
        margin-top: 1.5rem !important;
    }
    .form-container.w-50{
        width: 95% !important;
    }
}
/* Responsive design */
