*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Validation message error */
#subscriber_email.error::placeholder, #full_name.error::placeholder, #email_address.error::placeholder, #phone_number.error::placeholder, #country.error::placeholder,#description.error::placeholder,  #address.error::placeholder, #fname.error::placeholder, #user_email.error::placeholder, #phone_no.error::placeholder, #name.error::placeholder, #email.error::placeholder, #phone.error::placeholder,#searchBar.error::placeholder,#contact_name.error::placeholder,#contact_email.error::placeholder,#contact_phone.error::placeholder,#contact_address.error::placeholder {
    color: red !important;
  }

/* Validation message error */
/* contact body design */
.contact-body{
    margin-top: 2rem;
}
.contact-body .row{
    display: flex !important;
    flex-direction: row-reverse !important;
}
.contact-body .right-column{
    background: #d5e8ad;
}
.contact-body .right-column .title{
    font-size: 3.2rem;
}
.contact-body .right-column .description{
    font-size: 1.563rem;
    font-weight: 300;
}
.contact-body .right-column .contact-details .location{
    background: #fff;
    padding: 1.5rem 2rem;
}
.contact-body .right-column .contact-details .box{
    padding: 1.5rem 2rem;
}
.contact-body .right-column .contact-details .box p{
    font-size: 1.3rem;
    font-weight: 300;
}
.contact-body .right-column .contact-details .box a{
    font-size: 1rem;
    font-weight: 500;
}
.contact-body .right-column .contact-details .location h5{
    font-size: 1.563rem;
    font-weight: 600;
}
.contact-body .right-column .contact-details .location p{
    font-size: 1.4rem;
    font-weight: 300;
    margin: 1rem 2rem 0 0;
}
.contact-body .left-section{
    background: #097baf;
}
.contact-body .right-column, .contact-body .left-section{
    padding: 3rem 5rem 3rem 4rem;
}
.contact-body form input, .contact-body form textarea{
    background: transparent !important;
    border: none !important;
    outline: none !important;
    padding: 1rem 2rem;
    border-bottom: 0.1rem solid #fff !important;
    margin-bottom: 1rem;
}

.contact-body form input, .contact-body form textarea, .contact-body form input::placeholder, .contact-body form textarea::placeholder, .contact-body form label{
    color: #fff !important;
    font-weight: 300;
    font-size: 1.2rem;
}

.contact-body form input::placeholder, .enquiry-form form input::placeholder, .contact-body form textarea::placeholder, .enquiry-form form textarea::placeholder{
    transition: .4s ease;
}
.contact-body form input:focus::placeholder  {
    transform: translateY(-25px);
    font-size: 0.8rem;
}
.contact-body form textarea:focus::placeholder, .enquiry-form form textarea:focus::placeholder{
    top:0;
    font-size: 0.8rem;
}

.contact-body form textarea::placeholder, .enquiry-form form textarea::placeholder{
    position: absolute;
    bottom: 10%;
    transition: .4s ease;
}
.contact-body form .terms{
    font-weight: 400 !important;
}
.submit-btn{
    padding: 0.7rem 0;
    font-size: 1.4rem;
    color: #fff;
    background: var(--dark-pink);
    outline: none !important;
    border: none;
    margin-top: 1.8rem;
}

.contact-body form input.form-check-input {
   cursor: pointer !important;
}
/* enquiry form design */
.enquiry-form form input:focus::placeholder
{
    transform: translateY(-20px);
    font-size: 0.8rem;
}
.enquiry-form form input, .enquiry-form form textarea,  .enquiry-form form select{
    background: transparent !important;
    border: none !important;
    outline: none !important;
    padding: 1rem 2rem;
    border-bottom: 0.1rem solid #000000 !important;
    margin-bottom: 1rem;
}
.enquiry-form form select option {
    background: var(--light-green) !important;
}
.enquiry-form form input::placeholder, .enquiry-form form textarea::placeholder,.enquiry-form form select{
    color: #000000 !important;
    font-weight: 400;
    font-size: 1.2rem;
}
/* enquiry form design */

/* contact body design */
/* Responsive design */
@media(max-width:989px)
{
    .contact-body .row{
        flex-direction: row-reverse !important;
    }
    .contact-body .right-column{
        background: #83bcd6;
    }
    .contact-body .left-section{
        background: #f5f5f5;
    }
    .contact-body .right-column .title, .contact-body .right-column .description {
        display: none;
    }
    .contact-body .right-column .location.mt-5{
        margin-top:  1rem !important;
    }
    .contact-body .contact-info.d-none{
        display: block !important;
    }
    .contact-body .submit-btn{
        margin-bottom: 2rem;
    }
    .contact-body form input, .contact-body form textarea, .contact-body form input::placeholder, .contact-body form textarea::placeholder, .contact-body form label,.contact-body form p{
        color: #000 !important;
    }
    .contact-body form p{
        font-weight: 400 !important;
    }
    .contact-body form input, .contact-body form textarea {
        border-bottom: 0.1rem solid #000000 !important;
    }
}
@media (max-width:767px)
{
    .contact-body .right-column .contact-details .box{
        padding: 1.5rem;
    }

}
@media (max-width:600px) {
    .contact-body .left-section, .contact-body .right-column{
        padding: 2rem;
    }
    .contact-body .right-column .description{
        font-weight: 400;
    }
    .contact-body .right-column .contact-details .location{
        padding: 1.5rem 1rem;
    }
    .contact-body .right-column .contact-details p{
        font-weight: 400 !important;
    }
    .contact-body .right-column .contact-details .box p{
        font-size: 1.1rem !important;
    }
    .contact-body .right-column .contact-details .box a.mt-1{
        margin-top: 0 !important;
    }
    .contact-body .right-column .contact-details .box a{
        font-size: 1rem !important;
    }
}
@media (max-width:480px){
    .contact-body .contact-info h1{
        font-size: 1.8rem !important;
    }
    .contact-body form input::placeholder, .contact-body form textarea::placeholder {
        font-size: 1.1rem !important;
    }
    .contact-body form label{
        margin-left: 1rem;
    }
    .contact-body .right-column .contact-details .box.d-flex{
        display: block !important;
    }
    .contact-body .right-column .contact-details .box p{
       margin-bottom: 1rem !important;
    }

    .contact-body form textarea:focus::placeholder, .enquiry-form form textarea:focus::placeholder{
        font-size: 0.8rem !important;
    }

    .contact-body form input:focus::placeholder, .enquiry-form form input:focus::placeholder
    {
        font-size: 0.8rem !important;
    }
}
/* Responsive design */
