*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --body-green:#71a10b;
    --body-blue:#05a6f0;
    --dark-pink:#e71b45;
}
.text-black{
    color: #383838 !important;
}
.green{
    background: var(--body-green) !important;
}
.black{
    background: #131313 !important;
}
.pink{
    background: var(--dark-pink) !important;
}
/* Body design */
.design-overview{
    background: #097baf !important;
}
.marketing{
    background: var(--body-green) !important;
}
.programs{
    background: var(--body-blue) !important;
}
.application{
    background: #fdc101 !important;
}
/* Download and enroll button */
.buttons .download-btn, .buttons .enroll-btn{
    padding: 0.7rem 2.5rem;
    font-size: 1.563rem;
    font-weight: bold;
    outline: none !important;
    border: none;
}
.buttons .download-btn{
    color: #fff;
    background: var(--dark-pink);
    margin: 0 2rem 2rem 0;
}
.buttons .enroll-btn{
    color: #097baf;
    background: #fff;
}
/* Download and enroll button */
.overview-body{
    background: #0A39C9;
}
.overview-body .row .left-section h5{
    font-weight: 550;
    font-size: 1.7rem;
}
.overview-body .row .left-section h1{
    font-size: 2.7rem;
    font-weight: 800;
    line-height: 65px;
}
.programs .left-section h1{
    margin-right: 10rem;
}
.overview-body .row .left-section .number{
    margin-top: 2rem;
}
.overview-body .row .left-section .number p{
    font-size: 2rem;
    font-weight: 800;
}
.overview-body .row .left-section .number .tel{
    color:#FEC101;
    font-size: 2.5rem;
    font-weight: bold;
}
.overview-body.row .left-section p{
    font-size: 1.3rem;
    line-height: 40px;
}
/* Course details box */
.buttons{
    margin-bottom: 3rem;
}
.course{
    padding-bottom: 4rem;
}
.course-row{
    width: 90%;
    margin: auto;
    padding: 2rem 5rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: 0;
    right: 0;
    bottom: -10%;
}
.course-row .columns h5{
    font-weight: 600;
    font-size: 1.5rem;
}
.course-row .columns p{
    font-size: 1.2rem;
}
.course-section{
    margin-top: 8rem !important;
}
/* Course row for small sized device */
.mobile-course-row{
    padding: 1rem 2rem;
}
.mobile-course-row{
    width: 90%;
    margin: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: 0;
    right: 0;
    bottom: -25%;
    display: none;
}
.mobile-course-row .upper-row:after{
    content: '';
    display: block;
    height: 1px;
    background: #000;
    width: 100%;
    margin: 0.7rem 0;
}
.mobile-course-row .columns h5{
    font-weight: 600;
    font-size: 1.4rem;
}
.mobile-course-row .columns p{
    font-size: 1rem;
}
/* Course row for small sized device */
/* Course details box */
/* Course information */
.courses-overview, .outline-content, .buttons{
    padding: 0rem 3rem;
}
.courses-overview h1, .courses-outline h1{
    color: #097baf;
}
.courses-outline{
    background: #f9f9f9;
    padding: 3rem 0;
}
.courses-info p,.courses-overview .description li{
    font-size: 1.375rem;
    line-height: 40px;
}

.box-summary .box{
    padding: 0.1rem !important;
}
.box-summary .box .content{
    background: var(--body-blue);
    color: #fff;
    padding: 5rem 2rem;
    text-align: center;
}
.box-summary .box .content h2{
    font-size: 3.5rem;
    font-weight: 600;
}
/* Boxes for mobile device */
.mobile-boxes .mobile-course{
    padding: 0 2rem !important;
}
.mobile-boxes .mobile-course .box{
    padding: 0.2rem;
}
.mobile-boxes .mobile-course .box .content{
    background: var(--body-blue);
    color: #fff;
    padding: 3rem 0;
    text-align: center;
}
.mobile-boxes .box .content h5{
    font-size: 2.3rem !important;
}
.mobile-boxes .box .content p{
    font-size: 1.3rem !important;
    font-weight: 300 !important;
}
.mobile-boxes .box .content{
   height: 200px;
}
/* Boxes for mobile device */
.add-info{
    margin-bottom: 5rem;
}

.accordion, .card-header{
    background: #fff !important;
}
.card-header .title{
    cursor: pointer;
}
 .card-header .title p{
    font-weight: 600;
}
.accordion .card-body{
    padding: 2rem 1.2rem !important;
}
ol{
    margin-left: 0.5rem !important;
}
ol li{
    font-size: 1.2rem !important;
    color: #4f4f4f;
    line-height: 2.5rem;
}
/* Course information */
/* Weboption design */
.weboption{
    padding: 3rem;
}
.weboption .heading{
    margin-bottom: 3rem;
}
.weboption .heading h1{
    font-weight: bold;
    font-size: 2.7rem;
    text-align: center;
}
.weboption .heading .mid-text{
    text-align: center;
}
.weboption .row{
    margin-top: 4rem;
}
.weboption .right-body .description,.weboption .left-body .description, .bottom-content .description{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 45px;
}
.weboption .right-body .description,.weboption .left-body .description{
    margin-right: 5rem;
}
.weboption .left-body .description{
    display: none;
}

/* Weboption design */
/* Webtype design */
.webtypes .row{
    padding: 0 3rem;
}
.webtypes .row .title{
    font-weight: bold;
    font-size: 2.7rem;
    line-height: 40px;
}
.webtypes .content{
    padding-right: 7rem;
}
.webtypes .columns{
    margin-bottom: 5rem;
}
.webtypes .row .description{
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 35px;
}
.webtypes .learn-btn{
    color: #fff;
    padding: 0.7rem 2.5rem;
    font-size: 22px;
    font-weight: bold;
    outline: none !important;
    border: none;
    background:#097baf ;
}
.graphic-service .learn-btn{
    background: #097baf !important
}
.weboption .graphics-paragraph{
    display: none;
    margin: 2rem 0;
}
/* Webtype design */
/* Business need design */
.marketing-overview,.program-overview{
    padding: 3rem;
}
.design-overview{
    color: #000;
}
.business{
    background: var(--footer);
}
.business .row .left-section h1{
    font-size: 2.7rem;
    font-weight: 550;
}
.business .row .left-section p{
    font-size: 1.3rem;
    line-height: 40px;
}

.design-overview .left-section{
    padding-left: 4rem;
}

.design-overview .left-section .left-content h1{
    font-weight: bold;
}


/* Business need design */
.web .left-section .left-content{
    padding:  5rem 1rem 5rem 3rem;
}
/* See more design */
.height-95{
    height: 95% !important;
    overflow: hidden;
}
.height-630{
    height: 630px;
}
.see-more{
    width: 100% !important;
    height: 5rem;
    bottom:-1%;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    transition: opacity 0.5s ease;
}

.see-less{
    bottom:-10%;
    background: transparent;
    backdrop-filter: blur(0);
}
.see-more button{
    background: none;
    outline: none !important;
    border: none;
    font-size: 1.3rem;
}
/* Responsive design */
@media (max-width:1200px)
{
    .course-row.d-flex{
        display: none !important;
    }
    .mobile-course-row{
        display: block;
    }
    .course .left-section{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .weboption .right-body .description.first{
        display: none;
    }
    .courses-outline.mt-5{
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
    .mobile-boxes.d-none{
        display: block !important;
    }
    .course-summary .desktop-box{
        display:  none !important;
    }
    .add-info{
        margin-bottom: 3rem;
    }
}

@media (max-width:990px)
{
    .weboption .heading{
        margin: 1rem 0 1.5rem 0;
    }
    .weboption .left-body .description,.weboption .right-body .description{
       display: block;
       width: 100% !important;
       margin-bottom: 2rem !important;
    }
    .marketing-overview .row .left-section .left-content h1{
        display: none ;
    }
    .marketing-overview .row .right-body::before{
        content: 'Digital marketing offers numerous benefits for businesses of all sizes.';
        font-size: 1.9rem;
        display: block;
        font-weight: bold;
        margin-bottom: 1.5rem;
    }
    .webtypes{
        margin-top: 2rem;
    }
    .webtypes .row{
        padding-right: 2rem !important;
    }
    .webtypes .content{
        padding-right:  0 !important;
    }
    .webtypes .learn .learn-btn{
        width: 100%;
    }
    .weboption .row {
        margin-top: 0rem !important;
    }
}
@media (max-width:767px)
{
    .weboption .heading{
       margin: 2rem 0 2rem 0;
    }
    .weboption .heading h1
    {
        text-align: left !important;
    }
    .weboption .heading .mid-text{
        display: inline !important;
    }
    .program .row .left-section h1, .overview-body .left-section h1.pr-5{
        margin-right: 0;
    }
}
@media (max-width:618px)
{
   .buttons .download-btn{
    margin-bottom: 2rem;
   }
}
@media (max-width:600px)
{
    .design-overview .left-section{
        padding: 0 1.2rem;
    }
    .overview-body .left-content{
        padding: 2rem 1.2rem 2rem 1.2rem !important;
    }
    .design-overview.mb-3{
        margin-bottom: 0 !important;
    }
    .business .row .left-section .left-content{
        padding: 2rem 1.2rem 0 1.2rem !important;
    }
    .overview-body .left-content h1.pr-5{
        padding-right: 0 !important;
    }
    .programs .left-section h1{
        margin-right: 0 !important;
    }
    .mobile-course-row .columns h5{
        font-size: 1.3rem !important;
    }
    .mobile-course-row .columns p{
        font-size: 1.2rem !important;
    }
    .mobile-course-row {
        bottom: -20% !important;
    }
    .courses-info .courses-overview, .courses-info .outline-content{
        padding: 0 1.2rem !important;
    }
    .weboption, .webtypes .row{
        padding: 0 1.2rem 2rem 1.2rem !important;
    }
    .marketing-overview, .buttons{
        padding: 0 0.6rem 2rem 1.2rem !important;
    }
    .programs .course-content h1.pr-5{
        padding-right: 0 !important;
    }
    .marketing-overview .row .left-section .left-content,.program-overview{
        padding: 0 !important;
        margin-bottom: 3rem;
    }
    .program-overview .right-body{
        padding: 0 2rem;
    }
    .marketing-overview.mt-5{
        margin-top: 2rem !important;
    }
    .webtypes .row{
        padding: 0 1.2rem !important;
    }
    .webtypes{
        margin-top: 0;
    }
    .program-overview.mt-5{
        margin-top: 0 !important;
    }
    .mobile-boxes .mobile-course .box .content{
        padding: 2.2rem 0;
    }
    .mobile-boxes .box .content h5{
        font-size: 1.8rem !important;
    }
    .mobile-boxes .box .content p{
        font-size: 1rem !important;
    }
    .mobile-boxes .box .content{
       height: 160px;
    }
    .learning-accordions .card-body ol li{
        margin-left: 0.8rem;
    }
    .accordion p{
        font-size: 1.2rem !important;
    }
    .card-body{
        padding: 1rem 0.5rem !important;
    }
    ol li{
        font-size: 1.1rem !important;
    }
    .course-row .columns p, li{
        font-size: 1.1rem !important;
    }
    .courses-overview.mt-5{
        margin-top: 2rem !important;
    }
    .courses-overview .description p.margin-top{
        margin-top: 1.5rem;
    }
    .list-items p.lists{
        font-size: 1.25rem !important;
    }
}

@media (max-width: 527px)
{
    .overview-body .row .col-12{
        margin-top: 0!important;
    }
    .buttons .download-btn, .buttons .enroll-btn{
        padding: 0.5rem 1.5rem !important;
        font-size: 1.2rem !important;
    }
    .weboption .graphics-paragraph{
        display: block;
    }
    .buttons .download-btn
    {
        margin-right: 0.5rem;
    }
    .mobile-course-row .columns h5{
        font-size: 1.2rem !important;
    }
    .mobile-course-row .columns p{
        font-size: 0.9rem !important;
    }
    .mobile-course-row {
        bottom: -10% !important;
    }
    .mobile-course-row .upper-row:after{
        margin: 0 0 0.7rem 0;
    }
    .course-section{
        margin-top: 5rem !important;
    }
}
@media (max-width:480px)
{
    .weboption .heading{
        margin-bottom: 1rem !important;
    }
    .overview-body .row .left-section h1{
        line-height: 45px;
        margin-bottom: 2rem !important;
    }
    .overview-body .row .left-section .number{
        margin-top: 0 !important;
    }
    .weboption .description ,.webtypes .description, .business .row .left-section .left-content .description{
        line-height: 32px !important;
    }
    .weboption .left-body .description{
        margin-bottom: 1rem !important;
    }
    .weboption .right-body .description{
        margin-top: 1rem !important;
    }
    .webtypes .columns {
        margin-bottom: 3rem;
    }
    .webtypes .content .description{
        margin-top: 1rem !important;
    }
    .graphics-title .heading,.courses-overview .description li{
        line-height: 35px;
    }
    .design-overview.mt-4{
        margin-top: 0rem !important;
    }
    .buttons .download-btn, .buttons .enroll-btn{
        padding: 0.5rem 1rem !important;
        font-size: 1.1rem !important;
    }
    .buttons .download-btn
    {
        margin-right: 0.5rem;
    }
    .mobile-course-row{
        width: 95% !important;
    }
    .mobile-course-row{
        padding: 1rem !important;
    }
    .learning-accordions .card-header p{
        margin-right: 1.5rem;
    }
}
@media (max-width:400px)
{
    .mobile-course-row {
        bottom: -10% !important;
    }
    .mobile-course-row .columns h5{
        font-size: 1rem !important;
    }
    .mobile-course-row .columns p{
        font-size: 0.7rem !important;
    }
}
