*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.side-box{
    background: #3C763D;
    width: 3rem;
    height: 6.1rem;
}
.effective-date{
    background: #DFF0D8;
    color: #3C763D;
}
.privacy-description .heading{
    font-size: 1.3rem;
    font-weight: 600;
    color: #878787;
}
.privacy-description .heading.active{
    color: #000;
}
.privacy-description .heading:hover{
    color: #000;
}
.privacy-description .description .tab-content p, .privacy-description .tab-content ul li, .accessibility-description .description p, .accessibility-description .description ul li  {
    font-size: 1.2rem;
    line-height: 2rem;
}

/* Accessibility page design */
.accessibility-description .description, .site-map-description .description {
    padding: 0 10rem;
}
/* Accessibility page design */
/* Site map design */
.site-map .title h1::after{
    content: '';
    display: block;
    background: #000;
    width: 90%;
    margin: 2rem auto;
    height: 0.05rem;
}
/* Site map design */
/* Responsive design */
@media(max-width:1200px){
    .site-map-description .description .row .col-md-6{
        flex: 0 0 50% !important;
        max-width: 50% !important;
    }
}
@media(max-width:989px){
    .accessibility-description .description{
        padding: 0;
    }
}
@media (max-width:767px){
    .site-map-description .description{
        padding: 1.2rem;
    }
}
@media (max-width:600px)
{
    .site-map-description .description .row .col-sm-12{
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .privacy .title h1, .accessibility .title h1, .disclaimer .title h1{
        text-align: left !important;
        margin-left: 1.2rem;
    }
    .site-map .title h1{
        text-align: left !important;
        margin: 0 1.2rem;
    }
    .site-map .title h1::after{
        width: 100%;
    }
    .privacy-description.mt-5, .accessibility-description.mt-5, .accessibility-description .description.my-5, .site-map-description .description.my-5{
        margin-top: 2rem !important;
        margin-bottom: 0 !important;
    }
    .effective-date h3{
        font-size: 1.5rem;
    }
    .side-box{
        height: 6.6rem;
    }
    .body-content .privacy-description{
        padding: 1.2rem !important;
    }
    .accessibility-description.px-5{
        padding: 0 1.2rem !important;
    }
    .site-map-description.mt-5{
        margin-top: 0 !important;
    }
    .site-map-description .description h2{
        font-size: 1.5rem;
    }
}
/* Responsive design */
