*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.search-results{
    background: #fafafa;
    margin-top: 3rem;
    padding: 3rem 3rem 10rem 3rem;
}
.search-results p.result-count{
    font-size: 1.3rem;
}
.search-results .list-group-item {
    background: #fafafa;
}
.search-results .list-group-item a{
    font-size: 1.3rem;
}
.search-results .list-group-item p.link{
    color: rgb(37, 140, 27);
}
/* Responsvie design */
@media (max-width:600px)
{
    .search-results{
        padding: 3rem 1.2rem 5rem 1.2rem;
    }
    .search-results h2{
       font-size: 1.4rem;
    }
    .search-results p.result-count,.search-results .list-group-item a{
        font-size: 1.2rem !important;
    }
    .search-results .list-group-item p.link,.search-results .list-group-item p.tagline {
        font-size: 1rem !important;
    }
}
/* Responsvie design */
