@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
a{
    text-decoration: none!important;
}
html,body{
    overflow-x: hidden;
}
:root{
    --light-blue:#097baf;
    --sky:#e8f8ff;
    --light-green:#add35d;
    --dark-pink:#e71b45;
    --hover:#CFDAFE;
    --text-light:rgb(65, 65, 65);
    --footer:#423f3f;

}
/* Flash message */
.flash-message{
    background:#add35d;
    top:0;
    right:0.2%;
    z-index:10;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.flash-message i{
    background: #151515;
    color: #fff;
    font-size: 1rem;
    padding: 0.3rem;
    border-radius: 50%;
}
.flash-error{
    background:var(--dark-pink);
    top:0;
    right:0.2%;
    z-index:10;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.flash-error i{
    color: #fff;
    font-size: 1.2rem;
}
/* Flash message */
.form-control{
    border-radius:  0px !important;
}
.rotate{
    transform: rotate(180deg);
    transition: 0.4s ease-in-out;
}
.stick{
        position: fixed !important;
        top: 0 !important;
        width: 100% !important;
        box-sizing: border-box !important;
        z-index: 4 !important;
        background: #fff;
        transition: 1s ease-out;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

   /* Mobile header design */
   .mobile-header{
    display: none;
  }
  .mobile-header .row .left-header{
    background: #b6b6b6;
  }

  .mobile-header .time,.mobile-nav .left-nav{
    padding: 1.3rem 0 1.3rem 3.2rem;
  }
  .mobile-header .offer{
    padding: 1.3rem 0 1.3rem 0;
  }
  .mobile-header .row .right-header{
    background: #121212;
  }
  /* Mobile header design */
  /* Mobile navbar design */
  #mobile-nav{
    display: none;
    background: #fff;
  }
  .mobile-nav .left-nav .bar .bar-btn{
    background: none;
    border: none !important;
    outline: none !important;
  }
  .mobile-nav .left-nav .bar .bar-btn i, .mobile-nav .right-nav a i{
    font-size: 1.563rem;
    color: var(--light-blue);
  }
  .mobile-nav .right-nav{
    padding: 1.6rem 2.5rem 1.6rem 0;
  }
  .mobile-nav .right-nav .help{
    font-size: 18px;
    font-weight: 600;
  }
  .mobile-links{
    display: none;
    left: 0;
    right: 0;
    z-index: 2;
  }
  .ham-show{
    display: block;
   }
  .mobile-links #accordion{
    background: #fff;
  }
  .mobile-links #accordion .card .card-body{
    background: #f5f7f8;
    padding: 1.5rem 1.6rem !important;
  }
  .mobile-links #accordion .title p{
    font-weight: 500;
  }
  .mobile-links .card .card-body .title{
    font-weight: 500;
  }
  .mobile-links .card .card-body a{
    font-size: 1.1rem !important;
  }
  .mobile-links .overview::after{
    content: '';
    display: block;
    height: 1px;
    background: #121212;
    margin-top: 1rem;
  }
  .mobile-links .card .card-header p.active{
    color:#097baf !important;
  }
  /* Mobile navbar design */
/* Header section design */
#header .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0.5rem 0 3rem;
}
.header .logo a img{
    width: 150px;
}
.header .header-menus a{
    color:#000;
    font-size: 1.3rem;
    margin-right: 3rem;
}
/* Header section design */
/* Navigation section design */
.navigation{
    padding: 2rem 2rem 0 2rem;
}
.navigation-bar{
    display: flex;
}
.nav-link{
    margin-right: 1rem;
    display: inline-block;
}
.nav-link a{
    color: #000;
    font-size: 20px;
}
.sub-menu{
    display: none;
    background: #fff;
    min-width: 240px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.sub-menu a{
    padding: 1rem;
}
.sub-menu p{
    margin: 0 1rem;
}
.sub-menu a{
    font-size: 1.1rem;
}
.sub-menu p{
    font-weight: 600;
}
.sub-menu p::before{
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    opacity: 100%;
    background: #000;
    margin-bottom: 1rem;
}
.nav-link:hover .sub-menu {
    display: block;
}
.nav-link a.active{
    color: #097baf;
}
.sub-menu a:hover{
    background: var(--hover);
    transition: 0.5s ease;
}
/* Navigation section design */
/* Search section design */
.search-section{
    display: flex;
    justify-content: center;
    padding: 0 3.2rem;
}
.search-section .input-area{
    width: 100%;
    padding-right: 2.2rem;
}
.search-section .search-input{
    width: 100%;
    padding-left: 1rem;
    font-size: 1.3rem;
    outline: none;
    height:4.5rem;
    border: 3px solid var(--light-blue);
}
.search-btn{
    right: 1%;
    padding: 0.875rem 2rem;
    color: #fff;
    background: var(--light-blue);
    outline: none !important;
    border: 3px solid var(--light-blue);
    font-size: 1.563rem;
    font-weight: bold;
}
/* Body content design */
.body-content{
    padding: 2rem 0;
    position: relative;
}
/* scroll button design */
.scroll{
    position: fixed;
    bottom: 15%;
    right: 1.5%;
    z-index: 2;
}
.scroll-btn{
    padding: 0.7rem 1rem;
    border: none;
    outline: none !important;
    background: var(--dark-pink);
    color: #fff;
    display: none;
}
/* scroll button design */
.body-content .row .left-body{
    background: var(--light-green);
}
.left-body .left-carousel, .right-body .right-banner{
    padding: 4rem 5rem 4rem 3rem;
}
.left-body .left-carousel .upper-text, .right-body .right-banner h5{
    font-size: 1.563rem;
}
.left-body .left-carousel .upper-text{
    font-weight: 500;
    color: var(--text-light);
}
.left-body .left-carousel h1{
    font-size: 3.75rem;
    color: rgb(55, 54, 54);
}
.left-body .left-carousel .description{
    font-size: 1.563rem;
    font-weight: 600;
    color: var(--text-light);
    margin-top: 1.5rem;
    padding-right: 10rem;
}
.body-content .enroll-section .enroll-btn{
    padding: 1rem 3rem;
    font-size: 1.563rem;
    font-weight: bold;
    color: #fff;
    background: var(--dark-pink);
    outline: none !important;
    border: none;
    margin-top: 1.8rem;
}
.body-content .row .right-body{
    background: var(--light-blue);
    color: #fff;
}
.right-body .right-banner h1{
    font-size: 2.5rem;
    font-weight: bold;
    margin: 1.9rem 0;
}
.right-body .right-banner .description{
    margin-top: 1.5rem;
    font-size: 24px;
}
.start-btn{
    color: #fff;
    padding: 1rem 2rem;
    font-size: 22px;
    font-weight: bold;
    outline: none !important;
    border: none;
    margin-top: 2rem;
    background: var(--text-light);
}
@keyframes fade {
    from {
        opacity: 0.4;
    }

    to {
        opacity: 1;
    }
}

#dot {
    position: absolute;
    bottom: 10%;
    right: 10%;
}
.dot,.owl-carousel .owl-dots .owl-dot.active span {
    display: inline-block !important;
    border-radius: 30px !important;
    background: #097baf !important;
    width: 50px !important;
    height: 15px !important;
    margin: 10px 5px !important;
    cursor: pointer !important;
}

.circle,.owl-theme .owl-dots .owl-dot span{
    display: inline-block !important;
    border-radius: 100% !important;
    background: #e71b45 !important;
    width: 15px !important;
    height: 15px !important;
    margin: 10px 5px !important;
    cursor: pointer !important;
}
/* Body content design */
/* sidebar design */
.sidebar{
    position: fixed !important;
    top: 0;
    right: -150%;
    z-index: 4;
    background: var(--light-green);
    color: var(--textcolor);
    width: 100%;
    height: 100%;
    transition: 0.8s ease;
    transition-property: right;
}
.show-sidebar,.show-right-img{
    right: 0% !important;
}
.sidebar .right-section{
    right: -100%;
    transition: 1.4s ease;
    transition-property: right;
    z-index: -1;
}
.sidebar .left-section
{
    background: var(--light-green);
    z-index: 1;
}
.sidebar .close .close-btn{
    background: none;
    outline: none !important;
    border: none !important;
}
.sidebar .close .close-btn i{
    color: var(--dark-pink);
    font-size: 1.563rem;
}

.sidebar h6 a{
    color: #fff !important;
    padding: 15px 35px;
    border-radius: 30px;
}

.social-links{
    bottom: 30px;
    left: 0;
    right: 0;
}
.social-links p{
    font-size: 28px;
}
.social-links a{
    color: #fff;
    font-size: 22px;
}
.send-btn{
    padding: 0.7rem 3rem;
    font-size: 1.563rem;
    font-weight: bold;
    color: #fff;
    background: var(--dark-pink);
    outline: none !important;
    border: none;
    margin-top: 1rem;
}
.sidebar .heading::after{
    content:'';
    display: block;
    margin-top: 0.5rem;
    width: 7%;
    height: 2px;
    background: var(--dark-pink);
}
.close-btn{
    background: none;
    border: none;
    outline: none !important;
    color: #e71b45;
    padding: 0;
}
.close-btn i{
    font-size: 22px;
}
/* sidebar design */
/* services design */
.services{
    display: flex;
    justify-content: center;
    padding: 3rem;
}
.services .single-col h1{
    font-size: 55px;
}
.services .multi-col h3{
    font-size: 35px;
    font-weight: 600;
    color:var(--text-light) ;
}
.services .multi-col p{
    font-size: 20px;
    color:var(--text-light) ;
}
.services .cols:hover{
    background: var(--hover);
}
.shadows{
    outline: 1px solid #000;
}
.border-left-none
{
    border-left: none;
}
.border-right-none{
    border-right: none;
}
.border-bottom-none{
    border-bottom: none;
}
/* services design */
/* start-project design */
.start-project .row .left-section{
    background: #e71b45;
    color: #fff;
}
.start-project .row .left-section h1{
    font-size: 3.75rem;
}
.start-project .row .left-section h5{
    font-size: 35px;
    line-height: 60px;
}

/* start-project design */
/* course design */
.courses{
    padding:3rem;
}
.courses .heading h1{
    font-size: 50px;
}
.courses .row .course-col{
    border: 3px solid #000;
    height: 550px;
    box-shadow:   rgb(75, 75, 75) 15px 20px;
}
.courses .row .course-col h1{
    font-size: 32px;
}
.courses .row .course-col h1:after{
    content:'';
    display: block;
    margin-top: 0.5rem;
    width: 40%;
    height: 1px;
    background: #313131;
}
.courses .row .course-col .course-description p,.courses .row .course-col .course-description p i {
    font-size: 20px;
    color: var(--text-light);
}
.courses .row .course-col .enroll-btn button{
    background: #097baf;
    color: #fff;
    border: none;
    outline: none !important;
    padding: 0.7rem 2rem;
    font-size: 22px;
}
/* course design */
/* contact design */
.contact{
    padding: 3rem;
    background: var(--light-green);
}
.contact .heading h1{
    font-size: 48px;
}
.contact .heading p{
    font-size: 35px;
    font-weight: 300;
}
.contact .form{
    width: 90%;
    margin: auto;
}
.contact .row .form-input{
    width: 350px;
    border: 2px solid #000;
    height: 4rem;
    outline: none !important;
    padding-left: 1.5rem;
    font-size: 1.3rem;
}
.contact .row .form-input::placeholder{
    font-size: 1.3rem;
}
button.submit{
    color: #fff;
    background: var(--dark-pink);
    border: none;
    outline: none !important;
    font-size: 24px;
    font-weight: bold;
    padding: 1rem 2.5rem;
}
.contact .bottom-text{
    font-size: 32px;
    font-weight: 600;
}
/* contact design */
/* testimonials design */
.testimonials{
    padding: 3rem;
}
.testimonials .heading{
    padding-bottom: 3rem;
}
.testimonials .heading p{
    font-size: 28px;
    font-weight: 600;
}
.testimonials .heading h1{
    font-size: 45px;
    font-weight: bold;
}
.testimonials .content{
    width: 90%;
    margin: auto;
    margin-bottom: 5rem;
}
.testimonials .content .description h5{
    font-size: 32px;
    line-height: 55px;
    color: var(--footer);
}
.testimonials .content .name h5{
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 3px;
}
/* testimonials design */

/* FAQ design */
.faq-section {
    padding: 3rem;
    text-align: center;
    background-position: bottom right 0%;
}
.section-header p{
    font-size: 28px;
    font-weight: 600;
}
.section-header h1{
    font-size: 45px;
    font-weight: bold;
}
.accordion-row .title h5{
    font-size: 1.563rem;
}
.accordion-row .content p{
    font-size: 20px;
}
.faq-section .faq_left_half_circle {
    position: absolute;
    left: 80px;
}

.faq-section h3 {
    text-align: center;
    font-size: 30px;
    margin: 0px;
}
.faq-section h1{
    font-size: 45px;
    font-weight: bold;
}
.faq-section .faq-accordions {
    width: 60%;
    margin: 0 auto;
}

.faq-section .faq-accordions .accordion-row {
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
}

.faq-section .faq-accordions .accordion-row .title {
    text-align: left;
    font-size: 22px;
    font-weight: 500;
    position: relative;
    padding-right: 30px;
}

.faq-section .faq-accordions .title:after {
    content: '';
    position: absolute;
    border-left: #000000 2px solid;
    border-bottom: #000000 2px solid;
    right: 10px;
    top: 8px;
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    width: 10px;
    height: 10px;
    z-index: 1;
    transform: rotate(-45deg);
}

.faq-section .faq-accordions .title.open:after {
    transform: rotate(135deg);
    top: 14px;
}
.nav-link:hover .fa-chevron-down {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in;
  }


.faq-section .faq-accordions .accordion-row .content {
    text-align: left;
    font-size: 16px;
    line-height: 30px;
    overflow: hidden;
    height: 0px;
    transition: 0.5s all;
}

.faq-section .faq-accordions .accordion-row .open+.content {
    height: auto;
    overflow: initial;
    padding: 20px 0px;
}

@media(max-width:1200px) {
    .faq-section .faq-accordions .accordion-row .title {
        font-size: 18px;
    }
}
/* FAQ design */
/* stories design */
.stories{
    background: var(--sky);
    padding: 3rem;
}
.stories .col .card, .stories .col .card img{
    border-radius: 0 !important;
}
.stories-content .row .col .card .card-body{
    height: 11rem;
    overflow-y: hidden;
}
.stories .row .col .card .card-body h5{
    font-weight: 500;
    color:  #000 !important;
}
.stories .row .col .card .card-body p{
    color: var(--footer) !important;
    font-weight: 400;
}
/* stories design */
/* footer design */
.footer{
    padding: 5rem 3rem;
    background: var(--footer);
    color: #fff;
}
.footer .input-area{
    width: 100%;
    padding-right: 2.2rem;
}
.footer .subscribe-input{
    width: 100%;
    padding: 1rem;
    border: none;
    font-size: 1.5rem;
}
.footer .subscribe-input::placeholder{
    font-size: 1.5rem;
}
.footer .subscribe-btn{
    top: 0;
    bottom: 0;
    right: 0;
    padding: 0.5rem 2rem 0.9rem 2rem;
    color: #fff;
    background: var(--light-blue);
    outline: none !important;
    border: 2px solid var(--light-blue);
    font-size: 1.563rem;
    font-weight: bold;
}
.footer .col .heading h4{
    font-size: 28px;
    font-weight: 600;
}
.footer .col p a{
    color: #fff;
    font-size: 20px;
}
.bottom-footer{
    padding: 2rem 3rem;
}
.bottom-footer .copyright{
    font-size: 28px;
    font-weight: bold;
    color: #676767;
}
.bottom-footer .follow-text{
    font-size: 28px;
    color: #6c6c6c;
}
.bottom-footer .social-logo{
    font-size: 1.563rem;
    color: #5a5a5a;
}
/* footer design */

/* Responsive design */
@media (max-width:1200px) {
    .row .col-12{
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .search-section .search-input{
        height:4.45rem;
    }
    #header, #navigation{
        display: none;
    }
    .mobile-header{
        display: block;
    }
    #mobile-nav{
        display: block;
    }
    .right-body .right-banner{
        padding-right: 1.3rem;
    }
    .contact .form{
        width: 50% !important;
    }
    .bottom-footer .follow-text{
        display: none !important;
    }
    .overview-body.mt-3{
        margin-top: 0 !important;
    }
    .right-section{
        height: 100vh;
    }
    .sidebar{
        overflow-y: scroll !important;
    }
}

@media(max-width:989px)
{
    .left-body .left-carousel .description{
        padding-right: 0;
    }
    .testimonials .content{
        width: 100%;
        display: block !important;
        margin-bottom: 0;
    }
    .testimonials .content .right-body{
        margin-top: 2rem;
    }
    .testimonials .content .description h5{
        line-height: 40px;
    }
    .subscribe{
        margin-top: 1.5rem;
    }
    .footer .subscribe-input{
        padding: 1.2rem;
    }
    .bottom-links .row{
        display:block !important;
    }
    .bottom-links .row .col{
        margin-bottom: 2rem;
    }
    .bottom-links .links{
        display: none;
    }
    .bottom-footer img{
        width: 100px !important;
    }
    .bottom-footer .copyright{
        font-size: 22px;
    }
    .weboption .row .left-body.px-5{
        padding-left: 1rem  !important;
    }
}
@media (max-width:767px)
{
    .faq-section .faq-accordions{
        width: 80%;
    }
    .weboption .row .left-body.px-5{
        padding-left: 1rem  !important;
    }
    .right-section{
        height: 60vh;
    }

}
@media (max-width:600px)
{
    .mobile-header .time{
        padding: 1rem 0 1rem 1.2rem;
    }
    .mobile-header .offer{
        padding: 1rem 0 1rem 0.5rem;
    }
    .mobile-nav .left-nav{
        padding-left: 0.5rem;
    }
    .time h5, .offer h5{
        font-size: 18px;
    }
    .search-section{
        padding:0 1.2rem ;
    }
    .search-section .search-input{
        height: 3.3rem;
    }
    .search-section .input-area{
       padding-right: 0rem !important;
    }

    .search-btn{
        padding: 0.42rem !important;
        right: -1% !important;

    }
    .mobile-nav .right-nav{
        padding: 1.7rem 1rem 1.6rem 0;
    }

    .left-body .left-carousel, .right-body .right-banner{
        padding:2rem 0.5rem 3rem 1.2rem;
    }
    button{
        padding: 0.7rem 1.2rem !important;
        font-size: 22px !important;
    }
    .services{
        padding: 0 1.2rem 2rem 1.2rem !important;
    }
    .services .multi-col .row .cols{
        padding: 1.2rem !important;
        text-align: center !important;
    }
    .start-project .left-content,.contact, .stories, .faq-section,.footer, .testimonials{
        padding: 2rem 1.2rem 2rem 1.2rem !important;
    }
    .services .span-text{
        display: block;
    }
    .services .service-description{
        display: none;
    }
    .services .service-title{
        font-size: 20px !important;
    }
    h1,.tel{
        font-size: 45px !important;
    }
    h4{
        font-size: 25px !important;
    }
    li,p,h5{
        font-size: 22px !important;
    }
    a{
        font-size: 20px !important;
    }
    .start-project .row .left-section h5{
        line-height: 40px !important;
    }
    .courses{
        padding: 0.5rem 1.2rem !important;
    }
    .contact .form{
        margin: 0 0 2rem 0 !important;
    }
    .courses .heading h1{
        margin-top: 1rem !important;
    }
    .stories-content .row .col .card .card-body{
        height: 14rem;
    }
    .faq-section, .contact .heading{
        text-align: left !important;
    }
    .faq-section .faq-accordions{
        width: 100% !important;
    }
    .accordion-row .content p{
        font-size: 18px !important;
    }
    .footer .subscribe-input{
        padding: 0.8rem 1rem !important;
    }
    .footer .subscribe-btn{
        padding: 0.42rem !important;
        right: 3% !important;
    }
    .footer h1{
        font-size: 32px !important;
    }
    .bottom-footer{
        padding: 1rem 1.2rem 1rem 1.2rem !important;
    }
    .contact h5{
        text-align: left !important;
    }
    .testimonials .heading{
        padding: 0 !important;
    }
    .testimonials .heading p,  .testimonials .heading h1{
        text-align: left !important;
    }
    .sidebar{
        overflow-y: auto;
    }
    .sidebar .top-header {
        padding: 0 0 0 1.5rem;
    }
    .sidebar .send-btn{
        width: 100%;
    }
    .flash-error.p-5, .flash-message.p-5{
        padding: 1.3rem 1rem !important;
    }
    .flash-message h5, .flash-error h5{
        font-size: 1rem;
    }
    .right-section{
        height: 50vh;
    }
}
@media (max-width:527px)
{
    .mobile-header .row .col-4{
        width: 25% !important;
    }
    .mobile-header .row .col-8{
        width: 75% !important;
    }
    h1,.tel{
        font-size: 2.5rem !important;
    }
    h4{
        font-size: 22px !important;
    }
    li,p,h5{
        font-size: 20px !important;
    }
    .start-project .row .left-section h5{
        line-height: 30px !important;
    }
    .search-section .search-input{
        height: 3.25rem !important;
    }
    .right-section{
        height: 40vh;
    }

}
@media (max-width:480px)
{
    .time h5, .offer h5 {
        font-size: 17px !important;
    }
    .search-section .search-input{
       border: 2px solid var(--light-blue);
    }
    .search-section .search-btn{
        padding: 0.57rem  !important;
    }
    .search-section .search-input{
        font-size: 1rem;
        height: 3.15rem;
    }
    .courses .heading{
        text-align:left !important;
    }
    .courses .heading h1::after{
        content: '...';
        display: inline;
        font-size: 1.5rem;
    }
    .courses .row .course-col{
        padding: 2rem !important;
        height: 500px;
    }
    .faq-section .faq-accordions.my-5, .stories .stories-content .row.mt-5,.courses .box.mt-5{
        margin-top: 2rem !important;
    }
    .stories-content .row .col .card .card-body{
        height: 14.5rem;
    }
    .footer h1{
        font-size: 24px !important;
    }
    h1,.tel{
        font-size: 25px !important;
    }
    h4{
        font-size: 20px !important;
    }
    li,p,h5,button, input::placeholder,textarea::placeholder{
        font-size: 18px !important;
    }
    .bottom-footer .copyright,.bottom-footer a.social-logo {
        font-size: 18px !important;
    }
    .bottom-footer .copyright{
        margin-left: 0.5rem !important;
    }
    a.behance{
        margin-right: 0rem !important;
    }
    .right-section{
        height: 35vh;
    }
    .footer .subscribe-input{
        padding: 0.5rem 1rem !important;
    }

}
@media (max-width:400px)
{
    .mobile-nav .image{
        margin-left: 1rem !important;
    }
    .footer .subscribe-btn {
        padding: 0.5rem 0.5rem 1rem 0.5rem !important;
    }
}
/* Responsive design */
