*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Css for admin login page */
#admin-login{
    background: #ececec;
    height: 100vh;
    position: relative;
}
#admin-login .login-body .left-section{
    background: #add35d;
}
#admin-login .login-body{
    width: 40%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 500px;
}
#admin-login .login-body h1.title{
    font-size: 2.2rem;
    font-weight: bold;
}
#admin-login .login-body .left-section{
    padding: 4rem 3rem 7rem 3rem;
}
#admin-login .login-body .left-section .submit{
    background: #e71b45;
    color: #000000;
    padding: 0.6rem;
    border: none;
    outline: none;
}
#admin-login .login-body form input{
    color: #000000 !important;
    font-weight: 300;
    font-size: 1.2rem;
}
#admin-login .login-body form input{
    background: transparent !important;
    border: none !important;
    outline: none !important;
    padding: 1rem 2rem;
    border-bottom: 0.1rem solid #000000 !important;
    margin-bottom: 1rem;
}
#admin-login .login-body form input::placeholder{
    transition: .4s ease;
    color: #000000;
}
#admin-login .login-body form input:focus::placeholder  {
    transform: translateY(-25px);
    font-size: 0.8rem;
}


/* Css for admin login page */

@media (max-width:1200px){
    #admin-login .login-body{
        width: 60%;
    }
}
@media (max-width:767px){
    #admin-login .login-body{
        width: 70%;
    }
}
@media (max-width:600px){
    #admin-login .login-body{
        width: 90%;
    }
}
